CHATWOOT_FRONTEND_URL=http://localhost:3300
CHATWOOT_SECRET_KEY_BASE=troque_este_valor
CHATWOOT_POSTGRES_DB=chatwoot_production
CHATWOOT_POSTGRES_USER=chatwoot
CHATWOOT_POSTGRES_PASSWORD=chatwoot_password

EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_POSTGRES_DB=evolution_api
EVOLUTION_POSTGRES_USER=evolution
EVOLUTION_POSTGRES_PASSWORD=evolution_password
EVOLUTION_API_KEY=troque_este_valor
EVOLUTION_WEBHOOK_ENABLED=false
EVOLUTION_WEBHOOK_URL=
EVOLUTION_CHATWOOT_ENABLED=false
